loguru==0.6.0
python-dotenv==0.19.2
selenium==4.1.0
sheetfu==1.6.1
utils==1.0.1

supabase==0.4.0
gotrue==0.5.0
python-dateutil~=2.8.2
setuptools~=49.2.1
testresources~=2.0.1
tinydb~=4.6.1
mysql-connector-python~=8.0.28